/* Modal Content/Box */

.modal {
  display: none; /* Hidden by default */
  position: fixed !important; /* Stay in place */
  left: 0!important;
  top: 0!important;
  width: 100% !important; /* Full width */
  height: 100% !important; /* Full height */
  /*overflow: auto !important;  Enable scroll if needed */
}

.modal-content {
  margin: 0 auto !important; /* 15% from the top and centered */
  padding: 10px !important;
  border: 1px solid white !important;
  width: 600px !important; /* Could be more or less, depending on screen size */
}

.modal-prod{
  margin: 0 auto !important; /* 15% from the top and centered */
  padding: 10px !important;
  border: 1px solid white !important;
  width: 800px !important; /* Could be more or less, depending on screen size */
}

.modal-title{
  text-align: center !important;
  margin: 0px !important;
}

.desc{
	resize: none;
}

.evnt-ttle {
  border: none !important;
  background: transparent !important;
  font-size: 24px;
  text-align: center;
}

.evnt-ttle:hover{
  background: #f7f7f7!important;
}