.btadd{
	font-size: 16px;
}

#imagem{
  visibility: hidden !important;
  width: 0 !important;
  height: 0 !important;
}

.pic{
	object-fit: cover;
	cursor: pointer;
}

.borderless {
    border: none !important;
	background: transparent !important;
    font-size: 32px;
    text-align: center;
}

.borderless:hover{
	background: #98999b !important;
}

.desc{
	resize: none;
}